html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* Header */
.encabezado-sitio {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
