@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Header */
.encabezado-sitio {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

/* Navegación */
.navegacion {
  background-color: #05BAE6;
}

.navegacion ul {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

@media screen and (min-width: 768px) {
  .navegacion ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion ul li {
  text-align: center;
  padding: 1rem 0;
}

/* Contenido */
.sidebar {
  background-color: #E5E5E5;
}

.contenido-principal {
  max-width: 50%;
  padding-top: 2rem;
  margin: 0 auto 2rem auto;
}

@media screen and (min-width: 768px) {
  .contenido {
    display: flex;
  }
  .contenido .sidebar {
    padding: 2rem;
    flex: 0 0 30%;
    order: -1;
  }
}
