html {
    @include box-sizing( border-box );
}

*,
*::before,
*::after {
    @include box-sizing( inherit );
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: $white;
    text-decoration: none;
}

/* Header */
.encabezado-sitio {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}


/* Navegación */
.navegacion {
    background-color: $firstColor;

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 800px;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }

        li {
            text-align: center;
            padding: 1rem 0;
        }
    }
}


/* Contenido */
.sidebar {
    background-color: $secondColor;

    ul {
        margin: 0 1rem;
        padding: 1rem;
    }
}

.contenido-principal {
    max-width: 50%;
    padding-top: 2rem;
    margin: 0 auto 2rem auto;
}

.contenido {
    @include tablet {
        display: flex;

        .sidebar {
            padding: 2rem;
            flex: 0 0 30%;
            order: -1;
        }
    }
}


/* Footer */
.footer {
    background-color: $thirdColor;
    color: $white;
    text-align: center;
}